@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9f9fb;
    --foreground: #0b0a19;
    --card: #ffffff;
    --card-foreground: #0b0a19;
    --popover: #ffffff;
    --popover-foreground: #0b0a19;
    --primary: #5856e9;
    --primary-foreground: #ffffff;
    --secondary: #e8e8fd;
    --secondary-foreground: #0b0a19;
    --muted: #f9f9fb;
    --muted-foreground: #8b8b8b;
    --accent: #e8e8fd;
    --accent-foreground: #0b0a19;
    --destructive: #e5484d;
    --destructive-foreground: #ffffff;
    --border: #dcdce5;
    --input: #eaeaea;
    --ring: #5856e9;
    --radius: 0.75rem;
  }

  .dark {
    --background: #0b0a19;
    --foreground: #eaeaea;
    --card: #1a1a2e;
    --card-foreground: #eaeaea;
    --popover: #1a1a2e;
    --popover-foreground: #eaeaea;
    --primary: #5856e9;
    --primary-foreground: #ffffff;
    --secondary: #2d2d45;
    --secondary-foreground: #eaeaea;
    --muted: #1a1a2e;
    --muted-foreground: #8b8b8b;
    --accent: #39388a;
    --accent-foreground: #eaeaea;
    --destructive: #f15e64;
    --destructive-foreground: #0b0a19;
    --border: #3a3a5a;
    --input: #2d2d45;
    --ring: #5856e9;
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: 0;
  }
}
